@import "variables";

@font-face {
    font-family: IRANSans;
    src: url("../assets/font/IRANSansWeb_FaNum_Light.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: IRANSans;
    src:url(../assets/font/IRANSansWeb_FaNum_Medium.woff) format("woff");
    font-weight: 500;
    font-style: normal;
}
body {
    font-family: "IRANSans";
    background-color: var(--bg-color);

}
