:root{
  --bg-color: #13141f0d;
  --card-bg-color: #ffff;
  --text-color-light:#a3a3a3;
  --text-color:#000;
  --text-small: 12px;
  --text-medium: 14px;
  --font-regular: 400;
  --font-medium: 500;
  --text-green: #22a958;
  --bg-green: #9AD0BCFF;
}
